<div class="background">
    <div class="nav-upper">
      <h2>
        Memoir
      </h2>
      <img src="https://cdn.iconscout.com/icon/free/png-512/avatar-372-456324.png"  class="profile" alt="" />
      <h3>Name</h3>
    </div>
    <div class="nav-bottom">
      <!-- <ul>
        <li><a RouterLink="/home"><span class="material-icons">home </span>Home</a></li>
        <li><a href=""><span class="material-icons">local_post_office</span>Your Post</a></li>
        <li><a href=""><span class="material-icons">settings</span>Edit Profile</a></li>
        <li><a RouterLink="/login"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_logOut-ltr.svg/480px-OOjs_UI_icon_logOut-ltr.svg.png" class="material-icons" />Logout</a></li>
      </ul> -->
      <ul>
        <li><a routerLink="/home/posts"><span class="material-icons">home</span> Home</a></li>
        <li><a routerLink="/home/yourPost"><span class="material-icons">local_post_office</span>Your Post</a></li>
        <li><a href=""><span class="material-icons">settings</span>Edit Profile</a></li>
        <li><a routerLink="/login"><img src="../../assets/logout.png" class="icon-log" alt=""> Logout</a></li>
      </ul>
      
    </div>
  </div>
  